nav
{
    height: 60px;
    background-color: rgb(245, 171, 153);
}
.navbar
{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
}
.nav-item
{
  font-size: 1.25rem;
  font-family: cursive;
}
.logo
{
    width: 100px;
}
body
{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 226, 201) !important;
}
.carousel-caption 
{
    color: rgb(0, 0, 0);
}
footer
{
    width: 100%;
    margin-top: 10%;
    justify-content: center;
    font-size: 30px;
    font-family: Love;
    background-color: rgb(245, 171, 153);
}
.why
{
    color: dimgray;
    text-decoration: none !important;
    text-align: center;
    font-size: 40px;
}
.contact
{
    color: oldlace;
    width: 100px;
}
.contain
{
    text-align: center;
    margin-top: 5%;
}
.text
{
    margin-top: 4%;
    font-family: Love;
    text-align: center;
}
.about
{
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 10;
    font-family: 'Pacifico', cursive;
    color: dimgray;
}
ul{
    list-style-type:none;
}
.nextpage
{
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 10;
    font-family: 'Pacifico', cursive;
    color: dimgray;
}
h1
{
  color: dimgray;
}